<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/bookList" method="GET" >
        <fieldset>
            <input type="text" id="search" name="stringType" placeholder="Enter a title or an author" />
        </fieldset>
        <fieldset>
            <label for="title">Title</label>
            <input type="radio" id="title" name="searchType" value="title" />
        </fieldset>

        <fieldset>
            <label for="author">Author</label>
            <input type="radio" id="author" name="searchType" value="author" />
        </fieldset>
        <input type="submit" value="Search the Google Books API" />
    </form>
</body>
</html>