<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book App</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <nav>
        <h2>Best Books!</h2>
        <a href="/">Home</a>
        <a href="/favorite">favorite</a>

        </nav>
