.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    /* background: black; */
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #000;
    color: white;
}
main div ul {
    margin: 0 auto;
}
main div {
    width: 85%;
    background-color: #ccc;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 2px;
    box-shadow: 0px 2px 3px 1px #999;
}
img {
    border: 4px solid #fff;
    margin-bottom: 10px;
}
 h3 {
    line-height: 20px;
    font-size: 12pt;
    color: #fff;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    margin-bottom: 10px;
}
 h4 {
    line-height: 20px;
    font-style: italic;
    font-size: 10pt;
    margin-bottom: 10px;
    color: #333;
}
p {
    font-size: 9pt;
    margin-bottom: 10px;
    color: #333;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
form {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
input[type="text"],
fieldset,
input[type="submit"],
textarea,
button {
    width: 80%;
    padding: 12px 20px;
    margin: 8px auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 10pt;
}

label {
    width: 80%;
    margin: 8px auto;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-size: 10pt;
}

input[type="submit"],
button {
    background-color: black;
    color: #fff;
    cursor: pointer;
}

fieldset {
    background-color: #ccc;
}

.flex-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

