<header>
    <div class="topnav">
        <a  class="active">Best Books!</a>
        <div id="myLinks">
            <a href="/">Home</a>
            <a href="/searches/new">Search the Google Books API</a>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</header>
<script>
    function myFunction() {
        var x = document.getElementById("myLinks");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
    }
</script>